<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<table>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= button_to 'Edit', edit_book_path(book), method: 'get'%></td>
      <td><%= button_to 'Remove', book_path(book), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New book", new_book_path %>